# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# PyCharm project files
.idea/

# Virtual environment files
venv/
ENV/
env/
.venv/
*.env

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/

# PyInstaller
#  Usually, PyInstaller creates a dist folder and a build folder
#  We want to ignore those
dist/
build/

# pipenv
Pipfile.lock

# tox
.tox/

# pytest
.cache/

# mypy
.mypy_cache/

# pytype
.pytype/

# coverage
.coverage
.coverage.*

# flake8
.flake8

# pytest cache
.cache/
